# Data Structures 101

In [4]:
# Create a list
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100]
print('The same element w/ positive and negative index:\n Pos Index:',L[0],
'\n Neg Index:' , L[-5])
print('The same element w/ positive and negative index:\n Pos Index:',L[4],
'\n Neg Index:' , L[-1]  )

The same element w/ positive and negative index:
 Pos Index: Dallas Stars
 Neg Index: Dallas Stars
The same element w/ positive and negative index:
 Pos Index: 100
 Neg Index: 100

### Nesting

In [7]:
# List can contain other lists, tuples, etc.
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100, [1, 2, 3], (1, 2, 3)]
L

['Dallas Stars',
 'Florida Panthers',
 'Seattle Kraken',
 3.14,
 100,
 [1, 2, 3],
 (1, 2, 3)]

### Slicing

In [8]:
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100, [1, 2, 3], (1, 2, 3)]
L[0:3]

['Dallas Stars', 'Florida Panthers', 'Seattle Kraken']

### Extend, Append, Delete

In [17]:
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken"]

# Extend can add multiple elements
L.extend(["New York Rangers", "Carolina Hurricanes"])
print("Extend: ", L)

# Append adds one element
L.append(["Las Vegas Golden Knights","Chicago Blackhawks"])
print("Append: ", L)

# Delete 
del(L[0])
print("Delete: ", L)

Extend:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 'New York Rangers', 'Carolina Hurricanes']
Append:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 'New York Rangers', 'Carolina Hurricanes', ['Las Vegas Golden Knights', 'Chicago Blackhawks']]
Delete:  ['Florida Panthers', 'Seattle Kraken', 'New York Rangers', 'Carolina Hurricanes', ['Las Vegas Golden Knights', 'Chicago Blackhawks']]

### Split String

In [19]:
str = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
# Split string, default split is white space
Ls = str.split()
print("Split: ", Ls)

Split:  ['Lorem', 'ipsum', 'dolor', 'sit', 'amet,', 'consectetur', 'adipiscing', 'elit,', 'sed', 'do', 'eiusmod', 'tempor', 'incididunt', 'ut', 'labore', 'et', 'dolore', 'magna', 'aliqua.']