# Data Structures 101

In [34]:
# Create a list
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100]
print("List: ", L)
print('The same element w/ positive 0 and negative -5 index:\n Index 0:',L[0],
'\n Index -5:' , L[-5])
print('The same element w/ positive 4 and negative -1 index:\n Index 4:',L[4],
'\n Index -1:' , L[-1]  )
print("List type:" , type(L))
print("List length:" , len(L))

# Create a tuple
T = ("Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100)
print("Tuple: ", T)
print("Tuple type:" , type(T))
print("Tuple length:" , len(T))

List:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 3.14, 100]
The same element w/ positive 0 and negative -5 index:
 Index 0: Dallas Stars
 Index -5: Dallas Stars
The same element w/ positive 4 and negative -1 index:
 Index 4: 100
 Index -1: 100
List type: <class 'list'>
List length: 5
Tuple:  ('Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 3.14, 100)
Tuple type: <class 'tuple'>
Tuple length: 5

### Nesting

In [29]:
# List can contain other lists, tuples, etc.
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100, [1, 2, 3], (1, 2, 3)]
L

['Dallas Stars',
 'Florida Panthers',
 'Seattle Kraken',
 3.14,
 100,
 [1, 2, 3],
 (1, 2, 3)]

### Slicing

In [8]:
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100, [1, 2, 3], (1, 2, 3)]
L[0:3]

['Dallas Stars', 'Florida Panthers', 'Seattle Kraken']

### Extend, Append, Delete

In [17]:
L = ["Dallas Stars", "Florida Panthers", "Seattle Kraken"]

# Extend can add multiple elements
L.extend(["New York Rangers", "Carolina Hurricanes"])
print("Extend: ", L)

# Append adds one element
L.append(["Las Vegas Golden Knights","Chicago Blackhawks"])
print("Append: ", L)

# Delete 
del(L[0])
print("Delete: ", L)

Extend:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 'New York Rangers', 'Carolina Hurricanes']
Append:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 'New York Rangers', 'Carolina Hurricanes', ['Las Vegas Golden Knights', 'Chicago Blackhawks']]
Delete:  ['Florida Panthers', 'Seattle Kraken', 'New York Rangers', 'Carolina Hurricanes', ['Las Vegas Golden Knights', 'Chicago Blackhawks']]

### Split String

In [23]:
str = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
# Split string, default split is white space
Ls = str.split()
print("Split: ", Ls)
print(len(Ls))
# Split by comma
Ls = str.split(',')
print("Split by comma: ", Ls)
print(len(Ls))

Split:  ['Lorem', 'ipsum', 'dolor', 'sit', 'amet,', 'consectetur', 'adipiscing', 'elit,', 'sed', 'do', 'eiusmod', 'tempor', 'incididunt', 'ut', 'labore', 'et', 'dolore', 'magna', 'aliqua.']
19
Split by comma:  ['Lorem ipsum dolor sit amet', ' consectetur adipiscing elit', ' sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.']
3

### Copy and Clone

In [28]:
# Copy by Reference, copy points to same object
L1 = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100]
L2 = L1
print("L1: ", L2)
print("L2: ", L2)

# Mutable
print("L2[0]: ", L2[0])
L1[0] = "Edited"
print("L2[0]: ", L2[0])

# Clone a List
L1 = ["Dallas Stars", "Florida Panthers", "Seattle Kraken", 3.14, 100]
L2 = L1[:]
print(L2)
print("L2[0]: ", L2[0])
L1[0] = "Edited"
print("L2[0]: ", L2[0])

L1:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 3.14, 100]
L2:  ['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 3.14, 100]
L2[0]:  Dallas Stars
L2[0]:  Edited
['Dallas Stars', 'Florida Panthers', 'Seattle Kraken', 3.14, 100]
L2[0]:  Dallas Stars
L2[0]:  Dallas Stars

### Sorting

In [36]:
T = (2, 8, 10, 6, 1, 7, 4)
Tsorted = sorted(T)
print("Tuple sorted to a list: ", Tsorted)
print(type(Tsorted))

Tuple sorted to a list:  [1, 2, 4, 6, 7, 8, 10]
<class 'list'>

### Nesting

In [42]:
T = ("Dallas Stars", "Florida Panthers", "Seattle Kraken", (1, 3), (6, 7, 8))
print("Element 4:" , T[4])
print("Middle Element of Element 4: ", T[4][1])

Element 4: (6, 7, 8)
Middle Element of Element 4:  7

## Dictionaries

In [2]:
nightwish_albums = {"Angels Fall":1997, "Oceanborn":1998, "Wishmaster":2000, "Century Child":2002, "Once":2004, "Dark Passion Play": 2007, 
                    "Imaginaerum": 2011, "Endless Forms Most Beautiful":2015, "Human :II: Nature":2020, "Yesterwynde":2024 }

In [3]:
# Keys
nightwish_albums.keys()

dict_keys(['Angels Fall', 'Oceanborn', 'Wishmaster', 'Century Child', 'Once', 'Dark Passion Play', 'Imaginaerum', 'Endless Forms Most Beautiful', 'Human :II: Nature', 'Yesterwynde'])

In [4]:
# Values
nightwish_albums.values()

dict_values([1997, 1998, 2000, 2002, 2004, 2007, 2011, 2015, 2020, 2024])

In [5]:
# Display dictionary
print(nightwish_albums)

{'Angels Fall': 1997, 'Oceanborn': 1998, 'Wishmaster': 2000, 'Century Child': 2002, 'Once': 2004, 'Dark Passion Play': 2007, 'Imaginaerum': 2011, 'Endless Forms Most Beautiful': 2015, 'Human :II: Nature': 2020, 'Yesterwynde': 2024}

In [6]:
# Is "Once" an album
"Once" in nightwish_albums

True

In [8]:
# Access values 
nightwish_albums["Wishmaster"]

2000

In [9]:
# Keys as list
list(nightwish_albums.keys())

['Angels Fall',
 'Oceanborn',
 'Wishmaster',
 'Century Child',
 'Once',
 'Dark Passion Play',
 'Imaginaerum',
 'Endless Forms Most Beautiful',
 'Human :II: Nature',
 'Yesterwynde']

## Sets

In [16]:
nightwish_albums = {"Angels Fall", "Oceanborn", "Wishmaster", "Century Child", "Once", "Dark Passion Play", 
                    "Imaginaerum", "Endless Forms Most Beautiful", "Human :II: Nature" }
print(nightwish_albums)
print(len(nightwish_albums))

{'Wishmaster', 'Once', 'Dark Passion Play', 'Imaginaerum', 'Oceanborn', 'Endless Forms Most Beautiful', 'Century Child', 'Human :II: Nature', 'Angels Fall'}
9

In [17]:
## Add to set
nightwish_albums.add("Yesterwynde")
print(nightwish_albums)
print(len(nightwish_albums))

{'Wishmaster', 'Once', 'Dark Passion Play', 'Imaginaerum', 'Oceanborn', 'Endless Forms Most Beautiful', 'Century Child', 'Human :II: Nature', 'Yesterwynde', 'Angels Fall'}
10

In [18]:
## Remove from set
nightwish_albums.remove("Wishmaster")
print(nightwish_albums)
print(len(nightwish_albums))

{'Once', 'Dark Passion Play', 'Imaginaerum', 'Oceanborn', 'Endless Forms Most Beautiful', 'Century Child', 'Human :II: Nature', 'Yesterwynde', 'Angels Fall'}
9

In [19]:
# Is "Once" in the set
"Once" in nightwish_albums

True

In [22]:
battle_beast_albums = {"Once", "Steel", "Battle Beast", "Unholy Savior", "Bringer of Pain", "No More Hollywood Endings", "Circus of Doom"}

### Sets Mathematical Operations

In [23]:
# Overlap
albums_commom = nightwish_albums & battle_beast_albums
print(albums_commom)

{'Once'}

In [24]:
# Union
albums_union = nightwish_albums.union(battle_beast_albums)
print(albums_union)

{'Once', 'No More Hollywood Endings', 'Battle Beast', 'Dark Passion Play', 'Bringer of Pain', 'Imaginaerum', 'Circus of Doom', 'Oceanborn', 'Endless Forms Most Beautiful', 'Unholy Savior', 'Century Child', 'Human :II: Nature', 'Yesterwynde', 'Angels Fall', 'Steel'}

In [25]:
# Subset
albums_subset = nightwish_albums.issubset(battle_beast_albums)
print(albums_subset)

False

In [26]:
# List vs. Set
L = [1, 2, 2, 2]  
S = set([1, 2, 2, 2])
print("the sum of a List is:", sum(L))
print("the sum of a Set  is:", sum(S))

the sum of a List is: 7
the sum of a Set  is: 3