# Pandas 101

In [2]:
import pandas as pd
print(pd.__version__)

2.2.2

## Pandas Series

In [6]:
# Create pandas Series
ser1 = pd.Series([0.25, 0.5, 0.75, 1.0])
print("ser1: ", ser1)
print("Shape: ", ser1.shape)
print("Values:\n", ser1.values)
print("Index: ", ser1.index)

ser1:  0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
Shape:  (4,)
Values:
 [0.25 0.5  0.75 1.  ]
Index:  RangeIndex(start=0, stop=4, step=1)

In [7]:
# Index does not need to be an integer, can be values of any type
ser2 = pd.Series([0, 1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e", "f"])
ser2["e"]

np.int64(4)

In [8]:
# Pandas series can be thought of as serialization of Python dictionary
moto_prices_dict = { "BMV R1300GS":  23000, 
                    "Honda Africe Twin": 16000,
                    "Royal Enfield  Himalayan" : 4000 }
moto_prices = pd.Series(moto_prices_dict)
print(moto_prices)
print(type(moto_prices))

BMV R1300GS                 23000
Honda Africe Twin           16000
Royal Enfield  Himalayan     4000
dtype: int64
<class 'pandas.core.series.Series'>

## Pandas DataFrame

In [27]:
df = pd.DataFrame([[110, 2000, 35000],[100, 2500, 30000]])
df

     0     1      2
0  110  2000  35000
1  100  2500  30000

In [37]:
# DataFrame shape and values
print("Shape: ", df.shape)
print("Values:\n", df.values)

Shape:  (2, 3)
Values:
 [[  110  2000 35000]
 [  100  2500 30000]]

In [39]:
# Include Column Names
df = pd.DataFrame([[110, 2000, 35000],[100, 2500, 30000]], columns=["Top Speed", "Weight", "Price"])
df

   Top Speed  Weight  Price
0        110    2000  35000
1        100    2500  30000

In [40]:
# Include row/index names
df = pd.DataFrame([[110, 2000, 35000],[100, 2500, 30000]], columns=["Top Speed", "Weight", "Price"], index=["Car A", "Car B"])
df

       Top Speed  Weight  Price
Car A        110    2000  35000
Car B        100    2500  30000

In [41]:
# Print index
df.index

Index(['Car A', 'Car B'], dtype='object')

## Create dataframe from Python Directory

In [44]:
# create from Python dictionary
weather_data = {
    'day' : ['5/1/2022', '5/2/2022','5/3/2022','5/4/2022','5/5/2022','5/6/2022'],
    'temperature' : [44,45,28,24,33,56],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
2  5/3/2022           28          2   Snow
3  5/4/2022           24          7   Snow
4  5/5/2022           33          4   Rain
5  5/6/2022           56          2  Sunny

In [45]:
# Shape 
print("Shape: ", df.shape)
rows, cols = df.shape
print("Rows: ", rows)
print("Cols: ", cols)

Shape:  (6, 4)
Rows:  6
Cols:  4

## Print rows

In [46]:
df.head()

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
2  5/3/2022           28          2   Snow
3  5/4/2022           24          7   Snow
4  5/5/2022           33          4   Rain

In [47]:
df.head(2)

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny

In [48]:
df.tail(2)

        day  temperature  windspeed  event
4  5/5/2022           33          4   Rain
5  5/6/2022           56          2  Sunny

In [49]:
# Rows 2-4
df[2:5]

        day  temperature  windspeed event
2  5/3/2022           28          2  Snow
3  5/4/2022           24          7  Snow
4  5/5/2022           33          4  Rain

In [50]:
# All rows
df[:]

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
2  5/3/2022           28          2   Snow
3  5/4/2022           24          7   Snow
4  5/5/2022           33          4   Rain
5  5/6/2022           56          2  Sunny

## Print Columns

In [51]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [52]:
# Print individual column
df.day

0    5/1/2022
1    5/2/2022
2    5/3/2022
3    5/4/2022
4    5/5/2022
5    5/6/2022
Name: day, dtype: object

In [53]:
# or as accessing property in dictionary
df['day']

0    5/1/2022
1    5/2/2022
2    5/3/2022
3    5/4/2022
4    5/5/2022
5    5/6/2022
Name: day, dtype: object

In [54]:
#Print some of the columns
df[['event', 'day']]

   event       day
0   Rain  5/1/2022
1  Sunny  5/2/2022
2   Snow  5/3/2022
3   Snow  5/4/2022
4   Rain  5/5/2022
5  Sunny  5/6/2022

In [60]:
# types
print("Data Frame type: ", type(df))
print("Column type: ", type(df['event']))

Data Frame type:  <class 'pandas.core.frame.DataFrame'>
Column type:  <class 'pandas.core.series.Series'>

## Operations on Dataframes

In [62]:
weather_data = {
    'day' : ['5/1/2022', '5/2/2022','5/3/2022','5/4/2022','5/5/2022','5/6/2022'],
    'temperature' : [44,45,28,24,33,56],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
2  5/3/2022           28          2   Snow
3  5/4/2022           24          7   Snow
4  5/5/2022           33          4   Rain
5  5/6/2022           56          2  Sunny

In [65]:
# Max, Min temperature
t_max = df['temperature'].max()
t_min = df['temperature'].min()
print("Max temp: ", t_max)
print("Min temp: ", t_min)

Max temp:  56
Min temp:  24

In [66]:
# Mean temperature
t_mean = df['temperature'].mean()
print("Mean temp: ", t_mean)

Mean temp:  38.333333333333336

In [67]:
# Describe
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     38.333333   4.666667
std      12.077527   2.338090
min      24.000000   2.000000
25%      29.250000   2.500000
50%      38.500000   5.000000
75%      44.750000   6.750000
max      56.000000   7.000000

In [114]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [115]:
# Count unique values
df.value_counts()

day       temperature  windspeed  event
5/1/2022  44           6          Rain     1
5/2/2022  45           7          Sunny    1
5/3/2022  28           2          Snow     1
5/4/2022  24           7          Snow     1
5/5/2022  33           4          Rain     1
5/6/2022  56           2          Sunny    1
Name: count, dtype: int64

In [68]:
# Select certain rows with a criteria
df[df.temperature>=32]

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
4  5/5/2022           33          4   Rain
5  5/6/2022           56          2  Sunny

In [69]:
# Find max tempearture row
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
5  5/6/2022           56          2  Sunny

In [26]:
df['day'][df.temperature==df.temperature.max()]

5    5/6/2022
Name: day, dtype: object

In [27]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
5  5/6/2022           56

## Indexing

In [70]:
weather_data = {
    'day' : ['5/1/2022', '5/2/2022','5/3/2022','5/4/2022','5/5/2022','5/6/2022'],
    'temperature' : [44,45,28,24,33,56],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
2  5/3/2022           28          2   Snow
3  5/4/2022           24          7   Snow
4  5/5/2022           33          4   Rain
5  5/6/2022           56          2  Sunny

In [71]:
df.index

RangeIndex(start=0, stop=6, step=1)

### loc()

Label-based indexing: Access data using row and column labels.

Syntax: df.loc[row_label, column_label]

### iloc()

Integer-based indexing: Access data using integer positions (starting from 0).

Syntax: df.iloc[row_index, column_index]

In [91]:
print(df.loc[4])
print(type(df.loc[4]))

day            5/5/2022
temperature          33
windspeed             4
event              Rain
Name: 4, dtype: object
<class 'pandas.core.series.Series'>

In [92]:
df.loc[:,"event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [93]:
df.reset_index()

   index       day  temperature  windspeed  event
0      0  5/1/2022           44          6   Rain
1      1  5/2/2022           45          7  Sunny
2      2  5/3/2022           28          2   Snow
3      3  5/4/2022           24          7   Snow
4      4  5/5/2022           33          4   Rain
5      5  5/6/2022           56          2  Sunny

In [98]:
# Second Row
df.iloc[1]

day            5/2/2022
temperature          45
windspeed             7
event             Sunny
Name: 1, dtype: object

In [99]:
# First 3 rows
df.iloc[0:3]

        day  temperature  windspeed  event
0  5/1/2022           44          6   Rain
1  5/2/2022           45          7  Sunny
2  5/3/2022           28          2   Snow

In [100]:
# specific column
df.iloc[1,2]

np.int64(7)

In [101]:
# specific cell using iloc()
print(df.iloc[1,2])
print(type(df.iloc[1,2]))
a = 3
print(a)
a += df.iloc[1,2]
print(a)

7
<class 'numpy.int64'>
3
10

In [104]:
# specific cell using loc()
print(df.loc[1,"windspeed"])
print(type(df.loc[1,"windspeed"]))
a = 3
print(a)
a += df.loc[1,"windspeed"]
print(a)

7
<class 'numpy.int64'>
3
10

In [105]:
# 1 row, 2 columns
print(df.iloc[0,2:4])
print(type(df.iloc[0,2:4]))

windspeed       6
event        Rain
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

In [106]:
# 2 rows, 2 columns
print(df.iloc[0:2,2:4])
print(type(df.iloc[0:2,2:4]))

   windspeed  event
0          6   Rain
1          7  Sunny
<class 'pandas.core.frame.DataFrame'>

## Grouping

In [5]:
df = pd.DataFrame(
    {"key" : ["A", "B", "C", "A", "B", "C", "A", "B", "C"],
     "data": range(9)}, columns = ["key", "data"])

df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5
6   A     6
7   B     7
8   C     8

In [9]:
df_group = df.groupby("key")
print(df_group)
print(df_group.sum())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x13064ec50>
     data
key
A       9
B      12
C      15

## Create dataframe from file

In [107]:
df2 = pd.read_csv("data/temperatures.csv")

In [108]:
df2

   1  5/1/2022  44  6   Rain
0  2  5/2/2022  45  7  Sunny
1  3  5/3/2022  28  2   Snow
2  4  5/4/2022  24  7   Snow
3  5  5/5/2022  33  4   Rain
4  6  5/6/2022  56  2  Sunny
5  7  5/7/2022  40  8   Rain
6  8  5/8/2022  36  0    Fog

In [109]:
# Prevent first line from becoming a header
df2 = pd.read_csv("data/temperatures.csv", header=None)
df2

   0         1   2  3      4
0  1  5/1/2022  44  6   Rain
1  2  5/2/2022  45  7  Sunny
2  3  5/3/2022  28  2   Snow
3  4  5/4/2022  24  7   Snow
4  5  5/5/2022  33  4   Rain
5  6  5/6/2022  56  2  Sunny
6  7  5/7/2022  40  8   Rain
7  8  5/8/2022  36  0    Fog

## Column Names and Index Column

In [110]:
df2

   0         1   2  3      4
0  1  5/1/2022  44  6   Rain
1  2  5/2/2022  45  7  Sunny
2  3  5/3/2022  28  2   Snow
3  4  5/4/2022  24  7   Snow
4  5  5/5/2022  33  4   Rain
5  6  5/6/2022  56  2  Sunny
6  7  5/7/2022  40  8   Rain
7  8  5/8/2022  36  0    Fog

In [111]:
# Set Column Names
df2.columns = ["id", "day", "temperature", "windspeed", "event"]
df2

   id       day  temperature  windspeed  event
0   1  5/1/2022           44          6   Rain
1   2  5/2/2022           45          7  Sunny
2   3  5/3/2022           28          2   Snow
3   4  5/4/2022           24          7   Snow
4   5  5/5/2022           33          4   Rain
5   6  5/6/2022           56          2  Sunny
6   7  5/7/2022           40          8   Rain
7   8  5/8/2022           36          0    Fog

In [112]:
# Set Index Column
df3 = df2.set_index("id")
df3

         day  temperature  windspeed  event
id
1   5/1/2022           44          6   Rain
2   5/2/2022           45          7  Sunny
3   5/3/2022           28          2   Snow
4   5/4/2022           24          7   Snow
5   5/5/2022           33          4   Rain
6   5/6/2022           56          2  Sunny
7   5/7/2022           40          8   Rain
8   5/8/2022           36          0    Fog

## Deleting Rows and Columns

In [116]:
# Drop a row
df4 = df3.drop(2) 
df4

         day  temperature  windspeed  event
id
1   5/1/2022           44          6   Rain
3   5/3/2022           28          2   Snow
4   5/4/2022           24          7   Snow
5   5/5/2022           33          4   Rain
6   5/6/2022           56          2  Sunny
7   5/7/2022           40          8   Rain
8   5/8/2022           36          0    Fog

In [117]:
# Drop a column
df5 = df4.drop("windspeed", axis=1)   # Axis 0 for rows and 1 for columns
df5

         day  temperature  event
id
1   5/1/2022           44   Rain
3   5/3/2022           28   Snow
4   5/4/2022           24   Snow
5   5/5/2022           33   Rain
6   5/6/2022           56  Sunny
7   5/7/2022           40   Rain
8   5/8/2022           36    Fog

## Adding new Columns

In [118]:
# Prevent first line from becoming a header
df = pd.read_csv("data/temperatures.csv", header=None)
df

   0         1   2  3      4
0  1  5/1/2022  44  6   Rain
1  2  5/2/2022  45  7  Sunny
2  3  5/3/2022  28  2   Snow
3  4  5/4/2022  24  7   Snow
4  5  5/5/2022  33  4   Rain
5  6  5/6/2022  56  2  Sunny
6  7  5/7/2022  40  8   Rain
7  8  5/8/2022  36  0    Fog

In [119]:
# Set Column Names
df.columns = ["id", "day", "temperature", "windspeed", "event"]
df

   id       day  temperature  windspeed  event
0   1  5/1/2022           44          6   Rain
1   2  5/2/2022           45          7  Sunny
2   3  5/3/2022           28          2   Snow
3   4  5/4/2022           24          7   Snow
4   5  5/5/2022           33          4   Rain
5   6  5/6/2022           56          2  Sunny
6   7  5/7/2022           40          8   Rain
7   8  5/8/2022           36          0    Fog

In [120]:
df["humidity"] = [80, 20, 60, 62, 88, 15, 88, 95] 
df

   id       day  temperature  windspeed  event  humidity
0   1  5/1/2022           44          6   Rain        80
1   2  5/2/2022           45          7  Sunny        20
2   3  5/3/2022           28          2   Snow        60
3   4  5/4/2022           24          7   Snow        62
4   5  5/5/2022           33          4   Rain        88
5   6  5/6/2022           56          2  Sunny        15
6   7  5/7/2022           40          8   Rain        88
7   8  5/8/2022           36          0    Fog        95

## Add new Rows

In [121]:
# Transpose
df_t = df.T
df_t

,0,1,2,3,4,5,6,7
id,1,2,3,4,5,6,7,8
day,5/1/2022,5/2/2022,5/3/2022,5/4/2022,5/5/2022,5/6/2022,5/7/2022,5/8/2022
temperature,44,45,28,24,33,56,40,36
windspeed,6,7,2,7,4,2,8,0
event,Rain,Sunny,Snow,Snow,Rain,Sunny,Rain,Fog
humidity,80,20,60,62,88,15,88,95

In [122]:
# Add column to Transposed frame
df_t[8] = [8, "5/9/2022", 45, 9, "Rain", 85] 
df_t

,0,1,2,3,4,5,6,7,8
id,1,2,3,4,5,6,7,8,8
day,5/1/2022,5/2/2022,5/3/2022,5/4/2022,5/5/2022,5/6/2022,5/7/2022,5/8/2022,5/9/2022
temperature,44,45,28,24,33,56,40,36,45
windspeed,6,7,2,7,4,2,8,0,9
event,Rain,Sunny,Snow,Snow,Rain,Sunny,Rain,Fog,Rain
humidity,80,20,60,62,88,15,88,95,85

In [123]:
# Transpose again to get a frame with extra row
df = df_t.T
df

  id       day temperature windspeed  event humidity
0  1  5/1/2022          44         6   Rain       80
1  2  5/2/2022          45         7  Sunny       20
2  3  5/3/2022          28         2   Snow       60
3  4  5/4/2022          24         7   Snow       62
4  5  5/5/2022          33         4   Rain       88
5  6  5/6/2022          56         2  Sunny       15
6  7  5/7/2022          40         8   Rain       88
7  8  5/8/2022          36         0    Fog       95
8  8  5/9/2022          45         9   Rain       85